# Database Configuration — CHANGE THESE VALUES for your environment
{% if project.data_driver == 'postgresql' %}
DATABASE_URL=postgresql+asyncpg://changeme_user:changeme_pass@db:5432/changeme_db
{% elif project.data_driver == 'mysql' %}
DATABASE_URL=mysql+aiomysql://changeme_user:changeme_pass@db:3306/changeme_db
{% elif project.data_driver == 'mssql' %}
DATABASE_URL=mssql+aioodbc://sa:changeme_pass@host.docker.internal:1433/changeme_db
{% else %}
DATABASE_URL=sqlite+aiosqlite:///./test.db
{% endif %}

# Broker Configuration
BROKER_HOST={{ broker_default_host }}
BROKER_SECURITY_PROTOCOL=PLAINTEXT
BROKER_SASL_MECHANISM=
BROKER_USER={{ broker_user_default }}
BROKER_PASS={{ broker_pass_default }}
{% if is_kafka %}
KAFKA_GROUP_ID={{ project_slug }}
{% endif %}

# ════════════════════════════════════════════════════════════════
# ✏️ CUSTOM CODE START
# Write your custom code below this line.
# You can add imports, override functions, add new methods, etc.
# ════════════════════════════════════════════════════════════════


# ════════════════════════════════════════════════════════════════
# ✏️ CUSTOM CODE END
# ════════════════════════════════════════════════════════════════
